<div class="container-fluid">
  <app-header-nav></app-header-nav>

  <div class="">
    <router-outlet></router-outlet>
  </div>
  <!-- <p-dialog [(visible)]="!display" [closable]="false" maskStyleClass="signup-mask" styleClass="logout-dialog" [modal]="true" appendTo="body">
    <ng-template pTemplate="header">
        <h5 style="color:orange"><i class="fa fa-warning"></i> Authentication Required</h5>
    </ng-template>
    <ng-template pTemplate="body">
      <h6>Your session has been expired. Please Login.</h6>
      </ng-template>
      <ng-template pTemplate="footer">
       <div class="btns d-flex justify-content-center">
        <button class="btn btn-outline-primary" style="width: 100px" (click)="onHide()">Ok</button>
       </div>
     </ng-template>
  </p-dialog> -->
</div>
<div class="" [hidden]="!isShow">
  <app-spinner></app-spinner>
</div>
<p-toast></p-toast>