.input-group{
    label{
        align-self: center;
        padding: 2px 5px;
    }
}

.container-fluid{
    padding: 1px;
    // background: #dadada57;
    min-height: 100vh;
}
/* You can add global styles to this file, and also import other style files */
